.SalesTipsWidget {
  width: 250px;

  padding-top: 25px;
  padding-bottom: 25px;

  text-align: center;
  vertical-align: center;
}

.WidgetName {
  text-align: left;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.Tips {
  flex-direction: column;
  display: flex;
}

.Tip {
  flex-direction: column;
  display: flex;

  text-align: left;

  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
